@import "global";

.game {
  background-color: #ecebe7;
  height: 100vh;
  overflow: auto;
  .drawCard {
    // margin-top: 30px;
    cursor: pointer;
  }
  .playersPanel {
    z-index: 1;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    .playersContainer {
      background-color: rgba($light-brown, 50%);
      border-radius: 32px 32px 0 0;
      display: flex;
      min-width: calc(100% - 50rem);
      height: 130px;
      .campCard {
        cursor: pointer;
        position: relative;
        top: -70px;
        padding-left: 3rem;
        img {
          width: 10rem;
        }
      }
      .divider {
        border-right: 1px solid $dark-brown;
        margin: 1.5rem 0.5rem;
      }
      .playerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem;
        margin-top: -1rem;
        .avatar {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          line-height: 80px;
          margin: 10px;
          text-align: center;
          color: white;
          background-color: gray;
          font-size: 1.2rem;
        }
        span {
          color: $dark-brown;
          font-size: 0.8rem;
          // width: 0.75rem;
          // height: 0.75rem;
          //  border-radius: 50%;
        }
      }
    }
  }

  .cardsContainer {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
    .cardContainer {
      cursor: pointer;
      width: 300px;
      height: 300px;
      position: relative;
      --scale: 1;
      transform: scale(var(--scale));
      &:first-of-type {
        transform: translateX(100px) scale(var(--scale));
      }
      &:last-of-type {
        transform: translateX(-100px) scale(var(--scale));
      }
      &:hover {
        --scale: 1.1;
      }
      .cardOverlay {
        transform: rotate(45deg);
        position: absolute;
        top: 25%;
        bottom: 0;
        left: 25%;
        right: 0;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        opacity: 0.5;
        transition: 0.5s ease;
        background-color: #000;
        .text {
          cursor: pointer;
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 1;
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
          text-align: center;
          span {
            display: block;
            padding-top: 1rem;
            font-size: 0.75rem;
          }
        }
      }
      img {
        width: 200px;
      }

      &:hover {
        z-index: 3;
      }
    }
    @media (min-width: 800px) {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.shareId {
  margin: 5rem 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-brown;
  .gameId {
    display: flex;
    border: none;
    width: 280px;
    position: relative;
    background-color: rgba(#fff, 60%);
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    p {
      font-weight: bolder;
      padding-left: 20px;
    }
    img {
      cursor: pointer;
      height: 20px;
      opacity: 0.8;
      padding-right: 20px;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      font-size: 0.8rem;
      span {
        visibility: hidden;
        width: 60px;
        height: 30px;
        background-color: #444;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        line-height: 30px;
        position: absolute;
        z-index: 1;
        bottom: 180%;
        left: 50%;
        margin-left: -40px;
        opacity: 0;
        transition: opacity 0.3s;
        font-weight: lighter;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: #444 transparent transparent transparent;
        }
      }
      &:hover span {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.openIntro {
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  background-color: $dark-brown;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: $light-brown;
  color: $dark-brown;
  justify-content: space-between;
  z-index: -100;
  line-height: 1rem;
  p {
    width: 10rem;
    text-align: center;
    &:nth-of-type(2) {
      width: 30rem;
      span {
        color: rgba($dark-brown, 70%);
      }
    }
  }
}
